# Python specific
*.py[cod]
__pycache__/
*.so
*.pyd
*.pyo
.Python
env/
myenv/
ENV/
env.bak/
*.egg
*.egg-info/
.eggs/
*.xlsx
# IDE-specific
.idea/
.vscode/
*.swp
script.py
# Logs and output
*.log
*.out
*.err
*.db
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Byte-compiled / optimized / DLL files
*.py[cod]

# pytest
.cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Build and distributions
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Uvicorn logs (optional)
uvicorn.log
serviceAccountKey.json
.vercel
usersTesting.csv
head-admin.csv
debug_user_slots.py
wipe_slots.py
routes/admin-getallsuer.py
head-admin copy.csv
userTesting.csv
usersReal.csv
add_questions_script.py
domains.csv